<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

    <Logger name="com.zaxxer.hikari" level="debug" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>

</Configuration>

